/* Baseline Styles, Typography & Rhythm */

* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

h1 {
  font-weight: bold;
  text-rendering: auto;
  -webkit-break-after: avoid;
  -moz-break-after: avoid;
  page-break-after: avoid;
  break-after: avoid;
  orphans: 3;
  widows: 3;
}

h1 {
  margin: 27px 0 54px;
  font-size: 28.98918px;
  font-size: 1.61051rem;
  line-height: 1.86276;
}

p, table {
  margin: 27px 0;
}

td {
  border: 0;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

/* Layout Base */

html, body {
  width: 100% !important;
  min-width: 100%;
  margin: 0;
}

.letter {
  width: 100% !important;
  min-width: 100%;
  color: #333333;
  font-size: 18px;
  font-family: "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  line-height: 1.5;
  -epub-hyphens: manual;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

center {
  width: 100%;
  min-width: 580px;
}

.aboveFold {
  display: none;
}

/* Client-specific Reset */

#outlook a {
  padding: 0;
}

.ExternalClass {
  width: 100%;
  line-height: 100%;
}

.ExternalClass div, .ExternalClass span, .ExternalClass p, .ExternalClass font, .ExternalClass td {
  line-height: 100%;
}

#backgroundTable {
  width: 100% !important;
  padding: 0;
  margin: 0;
  line-height: 100% !important;
}

