/* Typography */

body, table, tbody, tr, td {
	padding: 0;
	border: none;
	margin: 0;
}

td {
	border-collapse: collapse !important;
	font-weight: normal;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

/* Layout Base */

body {
	width: 100% !important;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

center {
	width: 100%;
	min-width: 580px;
}